.env
.vscode/
__pycache__/
data/raw_pdfs/
pipeline/__pycache__/__init__.cpython-311.pyc
pipeline/storage/__pycache__/__init__.cpython-311.pyc
pipeline/storage/__pycache__/db.cpython-311.pyc
hackhathon_env/
test.sql
pipeline/__pycache__/
pipeline/storage/__pycache__/
**/__pycache__/
*.py[cod]